body {
  font-family: var(--font-body);
  line-height: var(--line-height);
  font-size: var(--font-size-1);
}

h1 {
  font-family: var(--font-heading);
  font-size: var(--font-size-6);
  font-weight: var(--fw-bold);
}

h2 {
  font-family: var(--font-heading);
  font-size: var(--font-size-5);
  font-weight: var(--fw-bold);
}

h3 {
  font-family: var(--font-heading);
  font-size: var(--font-size-4);
  font-weight: var(--fw-bold);
}

h4 {
  font-family: var(--font-heading);
  font-size: var(--font-size-3);
  font-weight: var(--fw-bold);
}

h5,
h6 {
  font-family: var(--font-heading);
  font-size: var(--font-size-2);
  font-weight: var(--fw-bold);
}

ul,
li {
  font-family: var(--font-body);
  line-height: var(--line-height);
  font-size: var(--font-size-1);
}

a {
  color: var(--primary-red);
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  color: var(--primary-red-dark);
}