.resultsTable {
  width: 100%;
  border-collapse: collapse;
}

.resultsTable th,
.resultsTable td {
  padding: var(--spacing-md);
  text-align: left;
  border-bottom: var(--border-width-thin) solid var(--asphalt-gray);
}

.resultsTable th {
  color: var(--white);
  font-size: var(--font-size-2);
  background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDE2IDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PHBhdGggZD0iTTE2IDBIMFY4SDE2VjBaIiBmaWxsPSIjRkZGIi8+PC9zdmc+");
  background-repeat: no-repeat;
  background-position: right center;
  padding-right: var(--spacing-lg);
}

.resultsTable th:hover {
  background-color: var(--asphalt-gray);
  cursor: pointer;
}

.resultsTable td {
  color: var(--white);
  font-size: var(--font-size-1);
  font-weight: var(--fw-semibold);
}

.error {
  color: var(--error, red);
  padding: var(--spacing-md);
}
