.hero {
  min-height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: var(--spacing-xxl);
  background-size: cover;
  background-position: center;
  padding-bottom: var(--spacing-lg);
  border-radius: var(--border-radius-md);
  box-shadow: var(--shadow-elevation-medium);
}

.hero__content {
  text-align: center;
  color: var(--text-primary);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  margin-bottom: var(--spacing-md);
}

.hero__title {
  font-size: var(--font-size-hero);
  font-weight: var(--fw-bold);
  border-bottom: var(--border-width-thick) solid var(--primary-red);
}

.hero__subtitle {
  font-size: var(--font-size-display);
}

.hero__actions {
  margin-bottom: var(--spacing-xl);
  display: flex;
  gap: var(--spacing-md);
}

.hero__scrollIndicator {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: var(--spacing-sm);
  opacity: 0.8;
}

.hero__scrollIndicatorArrow {
  font-size: var(--font-size-5);
  animation: bounce 2s infinite;
}

.hero__scrollIndicatorText {
  font-size: var(--font-size-2);
  color: var(--text-primary);
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-5px);
  }
}
