.podiumCard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}

.podiumCard--gold {
  order: 2; /* centre in row */
  min-height: 300px;
}

.podiumCard--silver {
  order: 1; /* left in row */
  min-height: 280px;
}

.podiumCard--bronze {
  order: 3; /* right in row */
  min-height: 260px;
}

.podiumCard__medal {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-primary);
}

.podiumCard__name {
  font-size: var(--font-size-2);
  font-weight: 500;
  color: var(--text-primary);
}

.podiumCard__team {
  font-size: var(--font-size-1);
  color: var(--text-secondary);
}

.podiumCard__nationality {
  font-size: var(--font-size-2);
  color: var(--text-secondary);
}

.podiumCard__points {
  font-size: var(--font-size-3);
  font-weight: 600;
  color: var(--primary-red);
}

.podiumCard__image {
    position: absolute;
    top: 25%;
    right: 25%;
    transform: translate(25%, 0%);
    width: 50%;
    height: 100%;
    border-radius: var(--border-radius-lg);
    object-fit: cover;
}

@media (max-width: 768px) {
  .podiumCard--gold {
    order: 1;
    height: 120px;
  }

  .podiumCard--silver {
    order: 2;
    min-height: 120px;
  }

  .podiumCard--bronze {
    order: 3;
    min-height: 120px;
  }

  .podiumCard__image {
    top: 0;
    right: 0;
    transform: none;
    width: 35%;
    height: 100%;
    border-radius: 0 var(--border-radius-lg) var(--border-radius-lg) 0;
  }
}