.podiumCard {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  position: relative;
}

.podiumCard--gold {
  min-height: 300px;
}

.podiumCard--silver {
  min-height: 280px;
}

.podiumCard--bronze {
  min-height: 260px;
}

.podiumCard__medal {
  font-size: 2rem;
  font-weight: 600;
  color: var(--text-primary);
}

.podiumCard__name {
  font-size: var(--font-size-2);
  font-weight: 500;
  color: var(--text-primary);
}

.podiumCard__team {
  font-size: var(--font-size-1);
  color: var(--text-secondary);
}

.podiumCard__nationality {
  font-size: var(--font-size-2);
  color: var(--text-secondary);
}

.podiumCard__points {
  font-size: var(--font-size-3);
  font-weight: 600;
  color: var(--primary-red);
}

.podiumCard__image {
    position: absolute;
    top: 25%;
    right: 25%;
    transform: translate(25%, 0%);
    width: 50%;
    height: 100%;
    border-radius: var(--border-radius-lg);
    object-fit: cover;
}