.leaderboard {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-3xl);
  padding: var(--spacing-md);
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.leaderboard__content {
  width: 100%;
}

.leaderboard__cards {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-md);
  width: 100%;
}
