.loginRegister__card {
  min-width: 400px;
  max-width: 600px;
  width: 100%;
  min-height: 400px;
  height: 100%;
  padding: var(--spacing-xl);
  border-radius: var(--border-radius-md);
  display: flex;
  flex-direction: column;
  align-items: center;
}
