.racerCard {
  height: 300px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 16px;
}

.racerCard__info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  color: var(--text-primary);
}

.racerCard__picture {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  overflow: hidden;
  color: var(--text-primary);
  background-color: var(--text-primary);
  border: 4px solid var(--border-color);
}

.racerCard__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
