.racerCard {
  height: 300px;
  padding: var(--spacing-lg);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--spacing-lg);
}

.racerCard:hover {
  cursor: pointer;
}

.racerCard__info {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  color: var(--text-primary);
}

.racerCard__picture {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-lg);
  overflow: hidden;
  color: var(--text-primary);
  background-color: var(--text-primary);
  border: 4px solid var(--border-color);
}

.racerCard__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
