.racerCard {
  height: 300px;
  padding: var(--spacing-lg);
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: var(--spacing-lg);
}

.racerCard:hover {
  cursor: pointer;
}

.racerCard__info {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  color: var(--text-primary);
}

.racerCard__details {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-sm);
}

.racerCard__name {
  font-size: var(--font-size-2);
  font-weight: 600;
  display: -webkit-box;
  line-clamp: 3;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.racerCard__team {
  font-size: var(--font-size-1);
  font-weight: var(--fw-semibold);
  color: var(--text-secondary);
}

.racerCard__points {
  font-family: var(--font-mono);
  font-size: var(--font-size-1);
  font-weight: var(--fw-bold);
}

.racerCard__nationality {
  font-size: var(--font-size-info);
  font-family: var(--font-mono);
  font-weight: var(--fw-bold);
}

.racerCard__picture {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  border-radius: var(--border-radius-full);
  overflow: hidden;
  color: var(--text-primary);
  background-color: var(--text-primary);
}

.racerCard__image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
