.card {
  background-color: var(--card-white);
  border-radius: var(--border-radius-lg);
  box-shadow: var(--shadow-elevation-medium);
  transition:
    transform 0.2s,
    box-shadow 0.2s;
  color: var(--text-primary);
  border: var(--border-width-medium) solid var(--border-color);
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
  text-align: left;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: var(--shadow-elevation-high);
}

.card__default {
  padding: var(--spacing-md);
}

.card__compact {
  padding: var(--spacing-sm);
}
