.card {
  background-color: var(--card-white);
  border-radius: 8px;
  box-shadow: var(--shadow-elevation-medium);
  transition: transform 0.2s, box-shadow 0.2s;
  color: var(--text-primary);
  border: 1px solid var(--border-color);
  display: flex;
  align-items: center;
  gap: 1rem;
  text-align: left;
}

.card:hover {
  transform: translateY(-2px);
  box-shadow: var(--shadow-elevation-high);
}

.card__default {
  padding: 1.5rem;
}

.card__compact {
  padding: 1rem;
}
