.formGroup {
  display: flex;
  flex-direction: column;
}

.formGroup__label {
  margin-bottom: var(--spacing-sm);
  font-weight: var(--fw-semibold);
}

.formGroup__input {
  padding: var(--spacing-md) var(--spacing-lg);
  border: var(--border-width-thin) solid var(--asphalt-gray);
  border-radius: var(--border-radius-sm);
}
