.formGroup {
  display: flex;
  flex-direction: column;
}

.formGroup__label {
  margin-bottom: 0.5rem;
  font-weight: var(--fw-semibold);
}

.formGroup__input {
  padding: 1rem;
  border: 1px solid var(--asphalt-gray);
  border-radius: 4px;
}
