.formGroup {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.formGroup__label {
  margin-bottom: var(--spacing-sm);
  font-weight: var(--fw-semibold);
}

.formGroup__input {
  padding: var(--spacing-md) var(--spacing-lg);
  border: var(--border-width-thin) solid var(--asphalt-gray);
  border-radius: var(--border-radius-sm);
  font-size: var(--font-size-2);
  width: 100%;
  height: 100%;
}

.formGroup__input:focus {
  outline: none;
  border-color: var(--primary);
}

.formGroup__input:disabled {
  background-color: var(--background-light);
  cursor: not-allowed;
}