.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modalContent {
  padding: var(--spacing-md);
  width: 100%;
  max-width: 720px;
  position: relative;
  display: flex;
  flex-direction: column;
}

.modalHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--spacing-lg);
  width: 100%;
}

.modalTitle {
  font-size: var(--font-size-3);
  font-weight: var(--fw-bold);
  color: var(--text-primary);
}

.modalCloseButton {
  background: none;
  border: none;
  font-size: var(--font-size-6);
  cursor: pointer;
  color: var(--text-secondary);
}

.modalCloseButton:hover {
  color: var(--text-primary);
}

.modalBody {
  font-size: var(--font-size-2);
  color: var(--text-primary);
  width: 100%;
  max-height: 70vh;
  overflow-y: auto;
  overflow-x: hidden;
  padding-right: var(--spacing-lg);
}
