.teamCard {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.teamCard__info {
  padding: 0 var(--spacing-md);
  width: 100%;
}

.teamCard__name {
  color: var(--text-primary);
  margin-bottom: var(--spacing-sm);
}

.teamCard__racers {
  display: flex;
  width: 100%;
  gap: var(--spacing-xl);
}

.teamCard__racer {
  font-size: var(--font-size-2);
  font-weight: var(--fw-semibold);
}
